@font-face {
  font-family: "GillSans";
  src: url(../fonts/GillSans.ttf) format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Coolvetica";
  src: url(../fonts/coolvetica.ttf) format("truetype"); /* Safari, Android, iOS */
}

.IdareLab-AboutUs-Baner-wrapper {
  margin-bottom: 80px;
  .IdareLab-AboutUs-Baner-inner {
    width: 980px;
    margin: 0 auto;
    .IdareLab-AboutUs-Baner-Title {
      margin-bottom: 40px;
      .IdareLab-AboutUs-Baner-Title-Name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .IdareLab-AboutUs-Baner-Name {
          font-family: Coolvetica;
          font-weight: 400;
          font-size: 48px;
          text-transform: uppercase;
          color: rgba(25, 9, 74, 1);
          align-items: center;
        }
        .IdareLab-AboutUs-Baner-Title-Img {
          align-self: center;
        }
      }
      .IdareLab-AboutUs-Baner-Desc {
        font-family: GillSans;
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        width: 606px;
      }
    }
    .IdareLab-AboutUs-Baner-Objects {
      display: flex;
      flex-wrap: wrap;
      gap: 86px;
      .IdareLab-AboutUs-Baner-Object {
        width: 260px;
        .IdareLab-AboutUs-Baner-Object-Name {
          font-family: Coolvetica;
          font-weight: 400;
          font-size: 24px;
          text-transform: uppercase;
          color: rgba(25, 9, 74, 1);
          margin-bottom: 20px;
        }
        .IdareLab-AboutUs-Baner-Object-Desc {
          font-family: GillSans;
          font-weight: 400;
          font-size: 16px;
          color: rgba(0, 0, 0, 1);
        }
        .IdareLab-AboutUs-Baner-Object-Menu-Items {
          .IdareLab-AboutUs-Baner-Object-Menu-Item {
            .IdareLab-AboutUs-Baner-Object-Menu-Item-bond {
              font-family: GillSans;
              font-weight: 700;
              font-size: 16px;
              color: rgba(0, 0, 0, 1);
            }
            .IdareLab-AboutUs-Baner-Object-Menu-Item-normal {
              font-family: GillSans;
              font-weight: 400;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
